.pricing-plan-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.plan {
  background: #333333;
  border-radius: 10px;
  width: 18em;
  height: 38rem;
  box-sizing: border-box;
  text-align: center;
  margin: 1em;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1em;
  /* border: 1px solid black; */
  position: relative;
}

.title-container-plan {
  padding-top: 1em;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title-plan {
  margin: 0em;
  padding: 0em;
  font-size: 1.45rem;
}

.prices-plans {
  font-size: 1.5rem;
  font-weight: 600;
  display: inline-block;
  width: 80%;
  margin-top: 0;
  padding-top: 0;
}
.plan .info-container .prices p {
  font-size: 1.35em;
  display: inline-block;
  margin: 0;
}
.plan .info-container .prices span {
  font-size: 1rem;
  display: inline-block;
}

.plan .info-container .plan-features li {
  padding: 0em 0.5em 2em 0.5em;
}

/* #starter-price-button {
  background-color: #03a9f4;
  color: white;
  outline: none;
  border: none;
}

#starter-price-button:hover {
  background-color: #0298db;
  color: white;
  cursor: pointer;
} */

.inside {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
}

@media screen and (max-width: 25em) {
  .pricing-plan-container {
    margin: 0;
  }
  .pricing-plan-container .plan {
    width: 100%;
    margin: 1em 0;
  }
}
