.pricing-plan-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.features {
  margin-top: 10px;
}

.plan {
  background: #f1f1f1;
  border-radius: 10px;
  width: 18em;
  height: 35rem;
  box-sizing: border-box;
  text-align: center;
  margin: 1em;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1em;
  border: 1px solid black;
}

.title-container-plan {
  padding: 1em;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title-plan {
  font-size: 1.45rem;
}

.prices-plans {
  font-size: 1.5rem;
  font-weight: 600;
  display: inline-block;
  width: 80%;
  margin-top: 0;
  padding-top: 0;
}
.plan .info-container .prices p {
  font-size: 1.35em;
  display: inline-block;
  margin: 0;
}
.plan .info-container .prices span {
  font-size: 1rem;
  display: inline-block;
}
.plan .info-container .desc {
  padding-bottom: 1em;
  border-bottom: 2px solid #f3f3f3;
  margin: 0 auto;
  width: 90%;
}

.plan .info-container .features {
  font-size: 1em;
  list-style: none;
  padding-left: 0;
}
.plan .info-container .features li {
  padding: 0.9em;
}

@media screen and (max-width: 25em) {
  .pricing-plan-container {
    margin: 0;
  }
  .pricing-plan-container .plan {
    width: 100%;
    margin: 1em 0;
  }
}
