@font-face {
  font-family: 'Inter';
  src: local('Inter'), local('Inter'),
    url('./fonts/Inter/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-light';
  src: local('Inter-light'), local('Inter-light'),
    url('./fonts/Inter/Inter-Regular.ttf') format('truetype');
}

:root {
  --main-font: 'Inter';
  --main-font-light: 'Inter-light';
  --white-font-color: #fff;
  --yellow-orange-color: #ffab1c;
  --green-color: #38e53c;
  --grey-font-color: grey;
  --dark-blue-color: #1c90ff;
  --light-blue-color: #03a9f4;
  --purple-color: #bc62ff;
  --main-background-color: #1d1e1f;
  --card-background-color: #323436;
  --card-background-color: #2f2f30;
  --navbar-background-color: #2c2b30;
  --navbar-background-color-hover: #2f2f30;
}
