@font-face {
  font-family: 'Inter';
  src: local('Inter'), local('Inter'),
    url('./fonts/Inter/Inter-Bold.ttf') format('truetype');
}

:root {
  --main-font: 'Inter';
  --white-font-color: #fff;
  --yellow-orange-color: #ffab1c;
  --grey-font-color: grey;
  --dark-blue-color: #1c90ff;
  --light-blue-color: #03a9f4;
  --main-background-color: #1d1e1f;
  --card-background-color: #323436;
}
