// create a .env file in the server directory with these variables

// switch between dev and production for DB connection

NODE_ENV = production

// Sets up connection to Postgres on localhost 

PG_USER = 
PG_HOST = 
PG_DATABASE = 
PG_PASSWORD = 
PG_PORT = 

// Sets up connection to Postgres on Heroku for production 

PRODUCTION_DATABASE_URL = 

// Sets up connection to AWS POSTGRES RDS for production 

AWS_RDS_USERNAME = 
AWS_RDS_PASSWORD = 

// Used to send user an email with login and register. Use your email address

EMAIL_ADDRESS = 
EMAIL_PASSWORD = 

