.studio-container {
  width: 55%;
  margin: 1rem auto;
  font-family: var(--main-font);
}

.time-view-container {
  display: flex;
  justify-content: center;
  float: left;
}

.studio-bottom-button-container {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.video-container {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

#play-button {
  background-color: #fd5d16;
  color: white;
}

#play-button:hover {
  background-color: #ff6738;
}

.chat-container {
  background-color: var(--navbar-background-color);
  border-radius: 5px;
  height: 75vh;
  width: 18rem;
  float: right;
  position: absolute;
  top: 100px;
  right: 0;
  border: 1px solid var(--card-background-color);
}

.chat-title {
  color: grey;
  font-family: var(--main-font-light);
  margin-left: 10px;
}

.chat-messages {
  background-color: #404040;
  color: var(--purple-color);
  width: 90%;
  margin: 0.5rem auto;
  padding: 0.25rem 0.25rem;
  border-radius: 5px;
  font-family: var(--main-font-light);
  font-size: 16px;
}

.chat-message-icon,
.chat-message-text {
  display: inline-block;
  vertical-align: middle;
}

.chat-message-icon {
  margin-left: 0.5rem;
}

.chat-message-text {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 1000px) {
  .studio-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  video {
    object-fit: fill;
  }
  .studio-container {
    width: auto;
    height: 100vh;
  }

  .chat-container {
    display: none;
  }
}
