.price-button {
  background-color: #1c90ff;
  color: #fff;
  padding: 10px;
  outline: none;
  padding: 15px 80px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  font-family: var(--main-font);
}

.price-button:hover {
  background-color: #03a9f4;
  color: #fff;
  cursor: pointer;
}
