.price-button {
  border: 1px #03a9f4 solid;
  color: #03a9f4;
  letter-spacing: 2px;
  padding: 10px;
  outline: none;
  padding: 15px 80px;
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
}

.price-button:hover {
  background-color: #03a9f4;
  color: #fff;
  cursor: pointer;
}
