:root {
  --main-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

.referrals-container {
  width: 50%;
  margin: 10rem auto;
  font-family: var(--main-font);
}

@media only screen and (max-width: 1000px) {
  .referrals-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .referrals-container {
    width: 90%;
  }
}
