.card-styles {
  min-height: 150px;
  min-width: 160px;
  border-radius: 5px;
  /* border: 1px solid #ccc; */
  background-color: var(--card-background-color);
  transition: 0.5s;
  font-family: var(--main-font);
  margin-right: 2rem;
}

.inner-card-content {
  text-align: center;
  margin-top: 1.5rem;
}

.card-title {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 20px;
  color: darkgrey;
}

.remove-button {
  padding: 0.25rem 1rem;
  margin-top: 0.5rem;
}

.card-styles:hover {
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: none;
  border: 1px solid #03a9f4;
  cursor: pointer;
  background-color: #f8f8f8;
  /* background-color: #eaefee; */
}

.card-styles:hover p {
  color: black;
  transition: 0.5s;
}
