:root {
  --main-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

.dashboard-container {
  width: 50%;
  margin: 1rem auto;
  font-family: var(--main-font);
}

.broadcast-modal {
  width: 40%;
  background-color: white;
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 5px;
  padding: 1rem;
}

.modal-close-icon {
  padding: 0.1rem 0.15rem;
}

.modal-close-icon:hover {
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .dashboard-container {
    width: 80%;
  }

  .broadcast-modal {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .dashboard-container {
    width: 90%;
  }

  .broadcast-modal {
    width: 80%;
  }
}
