.broadcast-container {
  width: 50%;
  margin: 1rem auto;
  font-family: var(--main-font);
}

#create-new-broadcast-button {
  font-size: 20px;
  font-family: var(--main-font-light);
  background-color: var(--dark-blue-color);
}

#create-new-broadcast-button:hover {
  background-color: var(--light-blue-color);
}

.broadcast-title {
  color: var(--white-font-color);
}

.broadcast-to-text {
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--grey-font-color);
}

.broadcast-modal {
  width: 40%;
  background-color: white;
  /* background-color: var(--card-background-color); */
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 5px;
  padding: 1rem;
}

.react-tooltip {
  font-family: var(--main-font);
}

.please-select-error {
  font-family: var(--main-font);
}

#create-broadcast-button {
}

.modal-close-icon {
  padding: 0.1rem 0.15rem;
}

.modal-close-icon:hover {
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
}

#upgrade-button {
  background-color: #fd5d16;
  color: white;
}

#upgrade-button:hover {
  background-color: #ff6738;
}

@media only screen and (max-width: 1000px) {
  .dashboard-container {
    width: 80%;
  }

  .broadcast-modal {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .dashboard-container {
    width: 90%;
  }

  .broadcast-modal {
    width: 80%;
  }
}
