:root {
  --main-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

.dashboard-container {
  width: 50%;
  margin: 1rem auto;
  font-family: var(--main-font);
}

.broadcast-modal {
  width: 50%;
  background-color: white;
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 5px;
  padding: 1rem;
}

@media only screen and (max-width: 1000px) {
  .dashboard-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .dashboard-container {
    width: 90%;
  }
}
