:root {
  --main-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

.button {
  background-color: #03a9f4;
  /* background-color: #3cc764; */
  color: white;
  letter-spacing: 2px;
  outline: none;
  border: none;
  padding: 15px 80px;
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .button {
    font-size: 16px;
    padding: 15px 50px;
  }
}

.button:hover {
  background-color: #0298db;
  color: white;
  cursor: pointer;
}

.loader {
  border: 2px solid #fff;
  border-radius: 50%;
  border-top: 2px solid transparent;
  /* border-bottom: 16px solid white; */
  width: 1rem;
  height: 1rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-right: 0.5rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
