:root {
  --main-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

button > * {
  vertical-align: middle;
}

.destination-button {
  /* background-color: #dddddd; */
  color: black;
  letter-spacing: 2px;
  outline: none;
  border: none;
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: var(--main-font);
  margin-right: 8px;
  vertical-align: middle;
}

.destination-button:hover {
  background-color: #dddddd;
  color: white;
  cursor: pointer;
}
