:root {
  --main-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

button > * {
  vertical-align: middle;
}

/* .studio-button-container {
  margin-right: 1rem;
  margin-left: 1rem;
} */

.studio-button {
  /* background-color: #03a9f4; */
  /* background-color: #dddddd; */
  color: black;
  letter-spacing: 2px;
  outline: none;
  border: none;
  padding: 20px 20px;
  font-size: 14px;
  border-radius: 50%;
  text-transform: uppercase;
  font-family: var(--main-font);
  /* margin-right: 30px; */
  vertical-align: middle;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.studio-button:hover {
  /* background-color: #0298db; */
  background-color: #dddddd;
  cursor: pointer;
}

.studio-button-label {
  color: grey;
}
