:root {
  --main-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

.textarea-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

textarea {
  margin-bottom: 0.5rem !important;
}

.textarea {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin: 0.5rem 0;
  padding: 14px 10px;
  font-family: var(--main-font);
  font-size: 16px;
  width: 100%;
}

.textarea:focus {
  outline: none !important;
  border: 1px solid #121212;
}
