:root {
  --main-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

.selected-label {
  font-family: var(--main-font);
}

.selected-container {
  margin-bottom: 1rem;
}

.selected {
  margin-bottom: 1rem;
}
