body {
  background-color: var(--main-background-color);
}

.login-container {
  width: 40%;
  margin: 10rem auto;
  font-family: var(--main-font);
}

.login-title {
  color: var(--white-font-color);
}

.login-subtitle {
  color: var(--grey-font-color);
}

#login-button {
  background-color: #1c90ff;
}

#login-button:hover {
  background-color: var(--light-blue-color);
}

@media only screen and (max-width: 1000px) {
  .login-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .login-container {
    width: 90%;
  }
}

.login-button {
  margin-top: 1rem;
}
