.top-navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

.top-navbar span {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-navbar span:hover {
  background: #ddd;
  color: black;
}

#notification-icon {
  margin-top: 4px;
}

/* side navbar */

.side-navbar {
  float: left;
  position: fixed;
  top: 0;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 180px;
  z-index: 100;
  height: 100vh;
}

/* Style the buttons inside the tab */
.side-navbar button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.side-navbar button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.side-navbar button.active {
  background-color: #ccc;
}
