/* side navbar for mobile screen sizes */

.side-navbar-mobile {
  float: left;
  position: fixed;
  top: 0;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 180px;
  z-index: 100;
  height: 100vh;
  padding-top: 50px;
}

.side-navbar-title-mobile {
  margin-left: 5px;
}

.side-navbar-icon-mobile,
.side-navbar-title-mobile {
  display: inline-block;
  vertical-align: middle;
}

/* Style the buttons inside the tab */
.side-navbar-mobile button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.side-navbar-mobile button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.side-navbar-mobile button.active {
  background-color: #ccc;
}
