.code-container {
  width: 40%;
  margin: 10rem auto;
  font-family: var(--main-font);
}

.code-title {
  color: var(--white-font-color);
}

.code-subtitle {
  color: var(--grey-font-color);
}

@media only screen and (max-width: 1000px) {
  .code-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .code-container {
    width: 90%;
  }
}
