body {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
  color: var(--white-font-color);
}

.navbar-logo {
  font-family: var(--main-font);
}

#enter-email-homepage {
  padding: 1.1rem;
  background-color: var(--main-background-color);
  border: 1px solid grey;
  color: #fff;
}

#enter-email-homepage:focus {
  border: 1px solid white;
}

#enter-email-homepage:hover {
  border: 1px solid var(--dark-blue-color);
}

#enter-email-homepage::placeholder {
  color: grey;
  /* font-family: var(--main-font-light); */
}

#pulse {
  /* background-color: #1c90ff; */
  box-shadow: 0 0 0 rgb(3 169 244 / 40%);
  animation: pulse 4s infinite;
  font-size: 20px;
  font-family: var(--main-font);
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10px;
}

#pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(3, 169, 244, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0.4);
    box-shadow: 0 0 0 0 rgba(3, 169, 244, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(3, 169, 244, 0);
    box-shadow: 0 0 0 15px rgba(3, 169, 244, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0);
    box-shadow: 0 0 0 0 rgba(3, 169, 244, 0);
  }
}
/*Pulse Button*/

body {
  margin: 0;
  /* font-family: var(--main-font); */
}

.website-image {
  width: 65%;
}

.website-navbar {
  overflow: hidden;
  background-color: rgba(29, 30, 31, 0.95);
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
}

.website-navbar a {
  float: right;
  display: block;
  color: #03a9f4;
  /* color: #ffab1c; */
  text-align: center;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 1rem;
  margin-top: 0.75rem;
}

.website-navbar a:hover {
  color: var(--dark-blue-color);
}

.signup-button-in-navbar {
  font-weight: 600;
  border: 1px solid var(--light-blue-color);
  border-radius: 5px;
  font-family: var(--main-font);
}

.signup-button-in-navbar:hover {
  border: 1px solid var(--dark-blue-color);
}

.pricing-container {
  display: flex;
  justify-content: center;
}

/* Container Two Contents */

.container-two {
  padding-top: 50px;
  padding-bottom: 70px;
  margin: 0 auto;
  display: block;
}

.column.sm-3 p {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.column.sm-3 img {
  display: block;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.landing-website-icon {
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
}

.icon-website-container {
  margin: 0 auto;
}

.website-text-description {
  font-size: 20px;
  color: grey;
  font-family: var(--main-font-light);
}

.website-main-description {
  color: grey;
  text-align: center;
  font-size: 20px;
  margin: 1rem 2rem 0rem 2rem;
  font-family: var(--main-font-light);
}

.email-submit-input-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.email-submit-input-container-child {
  display: inline-block;
  vertical-align: top;
}

@media all and (max-width: 600px) {
  .column.sm-3 p {
    display: none;
  }
  .website-image {
    display: none;
  }

  .email-submit-input-container {
    margin-top: 2rem;
    display: block;
    width: 100%;
    text-align: center;
  }

  #enter-email-homepage {
    width: 100%;
  }

  .email-submit-input-container-child {
    width: 80%;
    margin-right: 0;
  }

  #pulse {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }

  .iframe-container {
    width: 95%;
    margin: 0 auto;
  }
}

@media all and (max-width: 780px) {
  .column.sm-3 p {
    display: none;
  }
}

@media all and (max-width: 1200px) {
  .website-image {
    width: 100%;
  }
}
