:root {
  --main-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

#pulse {
  box-shadow: 0 0 0 rgb(3 169 244 / 40%);
  animation: pulse 4s infinite;
}

#pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(3, 169, 244, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0.4);
    box-shadow: 0 0 0 0 rgba(3, 169, 244, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(3, 169, 244, 0);
    box-shadow: 0 0 0 15px rgba(3, 169, 244, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0);
    box-shadow: 0 0 0 0 rgba(3, 169, 244, 0);
  }
}
/*Pulse Button*/

body {
  margin: 0;
  font-family: var(--main-font);
}

.website-image {
  width: 65%;
}

.website-navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
}

.website-navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 1rem;
  margin-top: 0.75rem;
}

.website-navbar a:hover {
  color: #03a9f4;
}

.signup-button-in-navbar {
  font-weight: 600;
  border: 1px solid black;
  border-radius: 5px;
}

.signup-button-in-navbar:hover {
  border: 1px solid #03a9f4;
}

.pricing-container {
  display: flex;
  justify-content: center;
}

/* Container Two Contents */

.container-two {
  padding-top: 50px;
  padding-bottom: 70px;
  margin: 0 auto;
  display: block;
}

.column.sm-3 p {
  width: 200px;
  text-align: center;
  color: black;
  margin: 0 auto;
  display: block;
}

.column.sm-3 img {
  display: block;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.landing-website-icon {
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
}

.icon-website-container {
  margin: 0 auto;
}

.website-text-description {
  font-size: 20px;
}

.website-main-description {
  text-align: center;
  color: black;
  font-size: 20px;
  margin: 1rem 2rem 0rem 2rem;
}

@media all and (max-width: 600px) {
  .column.sm-3 p {
    display: none;
  }
  .website-image {
    display: none;
  }
}

@media all and (max-width: 780px) {
  .column.sm-3 p {
    display: none;
  }
}

@media all and (max-width: 1200px) {
  .website-image {
    width: 100%;
  }
}
