.register-container {
  width: 40%;
  margin: 10rem auto;
  font-family: var(--main-font);
}

.register-title {
  color: var(--white-font-color);
}

.register-subtitle {
  color: var(--grey-font-color);
}

#register-button {
  background-color: var(--dark-blue-color);
}

#register-button:hover {
  background-color: var(--light-blue-color);
}

@media only screen and (max-width: 1000px) {
  .register-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .register-container {
    width: 90%;
  }
}
