:root {
  --main-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

.register-container {
  width: 40%;
  margin: 10rem auto;
  font-family: var(--main-font);
}

.register-button {
  margin-top: 1rem;
}

@media only screen and (max-width: 1000px) {
  .register-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .register-container {
    width: 90%;
  }
}
