.view-counter {
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--navbar-background-color);
  width: 10rem;
  margin-left: 1rem;
  font-family: var(--main-font-light);
  text-align: center;
  color: grey;
  /* border: 1px solid grey; */
  /* background-color: lightgrey; */
}
