.destinations-container {
  font-family: var(--main-font);
  display: flex; /* or inline-flex */
}

.destination-title {
  color: var(--white-font-color);
  font-family: var(--main-font);
}

@media only screen and (max-width: 1000px) {
  .destinations-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .destinations-container {
    width: 90%;
  }
}

.destinations-save-button {
  margin-top: 1rem;
}
