.destinations-outer-container {
  margin: 10rem auto;
  width: 50%;
}

#youtube-destination,
#twitch-destination,
#facebook-destination {
  margin-right: 2rem;
}

.destinations-container {
  font-family: var(--main-font);
  display: flex;
}

.destination-title {
  color: var(--white-font-color);
  font-family: var(--main-font);
}

@media only screen and (max-width: 1000px) {
  .destinations-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .destinations-outer-container {
    margin: 0 auto;
    width: 100%;
  }
  .destinations-container {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  #youtube-destination,
  #twitch-destination,
  #facebook-destination {
    margin-right: 0rem;
    width: 60%;
    margin: 0 auto;
  }
}

.destinations-save-button {
  margin-top: 1rem;
}
